

.container{
    display: grid;
    justify-items: center;
    width: 80%;
    height: 100%;
    margin: auto;
    margin-top: 5%;
    padding: 50px 1px;
    background-color: rgb(226, 226, 218);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

h3{
    font-size: 30px;
    font-weight: 600;

}
input[type='text']{
    width: 150px;
    font-weight: 600;
    color: rgb(15, 15, 32);
    padding: 5px 0;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 2px solid #202020;
    font-size: 28px;
}

.newGameBtn{
    width: 160px;
    padding: 10px 0;
    border-radius: 5px;
    color: rgb(161, 12, 12);
    border: none;
    font-size: 18px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 2px;

}

button{
    width: 160px;
    padding: 10px 0;
    border-radius: 5px;
    color: black;
    border: none;
    font-size: 18px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 20px;
    outline: solid rgb(141, 137, 137);
    outline-style: groove;
}
p{
    font-weight: 400;

}

#game {
    margin-top: 5%;
}