body{
	height: 100%;
	width: 100%;
	background-color: rgb(37, 36, 36);
}
header{
    height: 2em;
}



.container{
    display: grid;
    justify-items: center;
    width: 80%;
    height: 100%;
    margin: auto;
    padding: 50px 1px;
    background-color: rgb(226, 226, 218);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.topnav{
    list-style: none;
    overflow: hidden;
    margin: 0 0 0 0;
    padding: 0;
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(37, 36, 36);

}

ul li a{
    float: left;
    color: rgb(212, 205, 205);
    margin-left: 18.5%;
    padding: 1% 2%;
    font-size: 17px;
    font-weight: 500;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    text-align: center;
}
.active{
    text-decoration:underline;
    background-color: rgb(54, 54, 54)
}

ul li a:hover:not(.active) {
    background-color: rgb(36, 33, 33);
}

#maincontent{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 5%;
}

#intro {
    padding: 10px;
    margin-left: 10%;
    font-size: 18px;
    text-align: justify;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#barroevHeader{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 40%;
}

#numberGuesserHeader{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 40%;
}

#code{
	width: 80%;
	display: grid;
	margin: auto;
	justify-items: center;
	background-color: rgb(226, 226, 218);
}

pre{
	min-width: 60%;
	max-width: 60%;
}